absl-py==0.1.13
astor==0.6.2
bleach==1.5.0
blessed==1.14.2
certifi==2018.4.16
chardet==3.0.4
click==6.7
cycler==0.10.0
decorator==4.3.0
dlib==19.10.0
enlighten==1.0.7
face-recognition==1.2.2
face-recognition-models==0.3.0
gast==0.2.0
grpcio==1.10.0
html5lib==0.9999999
idna==2.6
imutils==0.4.6
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
networkx==2.1
numpy==1.14.2
opencv-python==3.4.0.12
pandas==0.22.0
Pillow==5.1.0
protobuf==3.5.2.post1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
PyWavelets==0.5.2
requests==2.18.4
scikit-image==0.13.1
scipy==1.0.1
six==1.11.0
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
tqdm==4.23.1
